:root {
    /* CSS HEX */
--english-violet: #56445dff;
--cadet-gray: #8ba6a9ff;
--vermilion: #f64740ff;
--mindaro: #e6f9afff;
--hunyadi-yellow: #f6bd60ff;
}
body {
    background-color: var(--english-violet);
}
#root {
    max-width: 1280px;
    margin: 0 1rem;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
  } 


#avatar {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin:  1.2rem;
}

#nav-page-container {
    display: flex;
    flex-direction: column;
    color: var(--mindaro);
}

#name {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

#email {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

#message {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
}

#inputName-warning {
    color: red;

}

#emailName-warning {
    color: red;

}

#invalidEmail-warning {
    color: red;

}

#Message-warning {
    color: red;

}

.link {
    color: var(--cadet-gray)
}

.hidden {
    display: none;
}

.nav-item {
    color: var(--cadet-gray);
}

#portfolioPNG {
    width: 666px;
    height: 420px;
    border-radius: 10px;
    margin: 1rem;
} 

#githubLink {
    margin: 3rem;
}

#linkedinLink {
    margin: 3rem;
}

label {
    display:block
}

p {
   font-size: larger; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--mindaro);
    color: var(--english-violet);
}

a {
    color: var(--hunyadi-yellow);
}